version: '3.9'

services:
  mongodb:
    image: mongo:7
    container_name: mongodb
    restart: unless-stopped
    environment:
      MONGO_INITDB_DATABASE: gms_api
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - gms_network

volumes:
  mongo_data:
